.navbar-default{
	background: #BB111F;
	color: white;
}

.white-text{
	color: white;
}
.white-bar{
	background: white;
	height: 5px;
}
li:hover{
	background: #8B111F;
}
.red-btn{
	background: #BB111F;
	color:white;
	border-color: #8B111F;
	padding-left: auto;
}

#profile-header{
	text-align: center;
	color: #BB111F;
}

#credentials{
	border-left: 0.5px solid #DCDCDC
}

#row2{
	border-bottom: 1px solid #DCDCDC ;
}
