.navbar-default{
	background: #BB111F;
	color: white;
}

.white-text{
	color: white;
}
.white-bar{
	background: white;
	height: 5px;
}
li:hover{
	background: #8B111F;
}
.red-btn{
	background: #BB111F;
	color:white;
	border-color: #8B111F;
	padding-left: auto;
}
.modal-title{
	color:  #BB111F;
}
#profile-header{
	text-align: center;
	color: #BB111F;
}

#credentials{
	padding-left: 10%;
}

#img{
	border:1px solid #DCDCDC;
	border-radius: 4px;
}
